body {
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  overflow-x: hidden;
  background-color: #080f05;
}

.container {
  margin: 0 auto;
  max-width: 1400px;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueUltraLight.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueThin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueRoman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeueBlack.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
.products__container, .materials__wrapper {
  display: grid;
  gap: 5px;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1024px) {
  .products__container, .materials__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .products__container, .materials__wrapper {
    grid-template-columns: 1fr;
  }
}

.materials__wrapper-card {
  position: relative;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 22%, 0.302);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 70px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease;
  font-size: clamp(18px, 2vw, 24px);
}
.materials__wrapper-card::before, .materials__wrapper-card::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  border: 2px solid #555;
  z-index: 1;
}
@media (max-width: 768px) {
  .materials__wrapper-card::before, .materials__wrapper-card::after {
    width: 20px;
    height: 20px;
  }
}
.materials__wrapper-card::before {
  top: 10px;
  left: 10px;
  border-right: none;
  border-bottom: none;
}
.materials__wrapper-card::after {
  bottom: 10px;
  right: 10px;
  border-top: none;
  border-left: none;
}
.materials__wrapper-card .corners {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.materials__wrapper-card .corners::before, .materials__wrapper-card .corners::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  border: 2px solid #555;
}
.materials__wrapper-card .corners::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}
.materials__wrapper-card .corners::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}
@media (max-width: 768px) {
  .materials__wrapper-card .corners::before, .materials__wrapper-card .corners::after {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1025px) {
  .materials__wrapper-card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .materials__wrapper-card:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
  }
  .materials__wrapper-card:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
  .materials__wrapper-card:nth-child(4) {
    grid-column: 4;
    grid-row: 2;
  }
}
.materials__wrapper-card:nth-child(4) {
  background-color: #4b8e05;
  border: none;
}
.materials__wrapper-card:nth-child(4)::before, .materials__wrapper-card:nth-child(4)::after,
.materials__wrapper-card:nth-child(4) .corners::before,
.materials__wrapper-card:nth-child(4) .corners::after {
  border-color: #fff;
}
@media (max-width: 1024px) {
  .materials__wrapper-card {
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .materials__wrapper-card {
    padding: 20px;
    font-size: 18px;
  }
}

.products__container-card {
  position: relative;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsla(0, 0%, 22%, 0.302);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.3s ease;
}
.products__container-card::before, .products__container-card::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  border: 2px solid #555;
  z-index: 1;
}
@media (max-width: 768px) {
  .products__container-card::before, .products__container-card::after {
    width: 20px;
    height: 20px;
  }
}
.products__container-card::before {
  top: 10px;
  left: 10px;
  border-right: none;
  border-bottom: none;
}
.products__container-card::after {
  bottom: 10px;
  right: 10px;
  border-top: none;
  border-left: none;
}
.products__container-card .corners {
  position: absolute;
  inset: 0;
  pointer-events: none;
}
.products__container-card .corners::before, .products__container-card .corners::after {
  content: "";
  position: absolute;
  width: 31px;
  height: 31px;
  border: 2px solid #555;
}
.products__container-card .corners::before {
  top: 10px;
  right: 10px;
  border-left: none;
  border-bottom: none;
}
.products__container-card .corners::after {
  bottom: 10px;
  left: 10px;
  border-top: none;
  border-right: none;
}
@media (max-width: 768px) {
  .products__container-card .corners::before, .products__container-card .corners::after {
    width: 20px;
    height: 20px;
  }
}
@media (min-width: 1025px) {
  .products__container-card:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }
  .products__container-card:nth-child(2) {
    grid-column: 3;
    grid-row: 1;
  }
  .products__container-card:nth-child(3) {
    grid-column: 2;
    grid-row: 2;
  }
  .products__container-card:nth-child(4) {
    grid-column: 4;
    grid-row: 2;
  }
}
.products__container-card:nth-child(4) {
  background-color: #4b8e05;
  border: none;
}
.products__container-card:nth-child(4)::before, .products__container-card:nth-child(4)::after,
.products__container-card:nth-child(4) .corners::before,
.products__container-card:nth-child(4) .corners::after {
  border-color: #fff;
}
@media (max-width: 1024px) {
  .products__container-card {
    padding: 40px;
  }
}
@media (max-width: 480px) {
  .products__container-card {
    padding: 20px;
    font-size: 18px;
  }
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
}/*# sourceMappingURL=base.css.map */