.foto {
  margin-bottom: 140px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;

    &-img {
      width: 100%;
      max-width: 422px;
      height: auto;
      display: block;
      object-fit: cover;

      clip-path: inset(0 1px 0 0);
    }
  }
}
