.materials {
  margin-bottom: 75px;
  z-index: 99;
  color: rgba(255, 255, 255, 1);
  &-title {
    font-weight: 400;
    font-size: 78px;
    line-height: 100%;
    letter-spacing: -2%;
    color: rgba(255, 255, 255, 1);
  }
  &-text {
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    color: rgba(174, 255, 0, 1);

    margin-bottom: 24px;
  }
}
.materials__wrapper {
  margin-bottom: 86px;
  &-card {
    width: 315px;
    height: 168px;
  }
  &-foto {
    display: flex;
    justify-content: center;
  }
}
